* {
  font-family: Iosevka Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

#outer-box {
  padding: 15px;

  border-radius: 5px 5px 5px 5px;

  background-color: #141417;

  border: 2px solid #7f3fbf;
}

#input {
  margin-bottom: 10px;

  border-radius: 10px;

  color: #ffffff;
  background-color: #27282b;

  border: none;
}

#inner-box {
  border-radius: 10px;

  color: #ffffff;
  background-color: #27282b;
}

#text {
  color: #ffffff;
  margin-left: 10px;
}

#entry:selected {
  background-color: #7f3fbf;
}

#img {
  margin: 5px;
}

overshoot,
undershoot {
  opacity: 0;
}
